@model DM_helper.InterOp.CharacterInterOp
@{ ViewData["Title"] = "Details"; }
<h1>Details</h1>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr>
    <div class="container-fluid">
        <div class="d-flex flex-row">
            <div class="col-lg-6">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Name) </b>
                            @Html.DisplayFor(model => model.Name)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Faction) </b>
                            @Html.DisplayFor(model => model.Faction)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Homeworld)</b>
                            @Html.DisplayFor(model => model.Homeworld)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.CurrentHP)</b>
                            @Html.DisplayFor(model => model.CurrentHP)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.MaxHP)</b>
                            @Html.DisplayFor(model => model.MaxHP)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.CurrentSystemStrain)</b>
                            @Html.DisplayFor(model => model.CurrentSystemStrain)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.MaxSystemStrain)</b>
                            @Html.DisplayFor(model => model.MaxSystemStrain)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.PermanentStrain)</b>
                            @Html.DisplayFor(model => model.PermanentStrain)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.CurrentXP)</b>
                            @Html.DisplayFor(model => model.CurrentXP)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.XPTilNextLevel)</b>
                            @Html.DisplayFor(model => model.XPTilNextLevel)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.BaseAC)</b>
                            @Html.DisplayFor(model => model.BaseAC)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.AtkBonus)</b>
                            @Html.DisplayFor(model => model.AtkBonus)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Strength)</b>
                            @Html.DisplayFor(model => model.Strength)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Dexterity)</b>
                            @Html.DisplayFor(model => model.Dexterity)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Constitution)</b>
                            @Html.DisplayFor(model => model.Constitution)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Intelligence)</b>
                            @Html.DisplayFor(model => model.Intelligence)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Wisdom)</b>
                            @Html.DisplayFor(model => model.Wisdom)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Charisma)</b>
                            @Html.DisplayFor(model => model.Charisma)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Credits)</b>
                            @Html.DisplayFor(model => model.Credits)
                        </div>
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Goals)</b>
                            @Html.DisplayFor(model => model.Goals)
                        </div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column col-6">
                            <b>@Html.DisplayNameFor(model => model.Notes)</b>
                            @Html.DisplayFor(model => model.Notes)
                        </div>
                        <div class="d-flex flex-column col-6"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form asp-action="BindArmor">
                    <input id="ID" type="hidden" asp-for="ID">
                    <div class="form-group">
                        <label>Armor</label>
                        <select id="SelectedArmor" class="form-control" multiple="multiple" asp-items="ViewBag.Armors" asp-for="SelectedArmor"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Bind Armor" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div><a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> | <a asp-action="Index">Back to List</a></div>
</div>