@model DM_helper.Models.Session

@{
ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column flex-fill">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
            <a asp-action="Index">Back to List</a>
        </div>
        <div class="d-flex flex-column">
            <p>@Html.DisplayNameFor(model => model.Notes)</p>
            @Html.DisplayFor(model => model.Notes)
        </div>
    </div>
</div>


<div class="container-fluid m-3">
    <div class="d-block mx-auto col-md-6">
        <u>Roll Results</u>
        <div class="d-block mx-auto card border-primary">
            <div class="card-body">
                <p class="card-text h3 text-center">@ViewBag.Result</p>
                <p class="card-text text-center">@ViewBag.ResultDetail</p>
            </div>
        </div>

    </div>
</div>
<div>
    <div class="container-fluid">
        <div class="d-flex flex-column">
            <h2>Encounters</h2>
            <a class="btn btn-outline-primary m-2" asp-action="Create" asp-controller="Encounter">Create
                Encounter</a>
            <hr />
        </div>
        <div class="d-flex flex-row flex-wrap">
            @foreach (var e in Model.Encounters)
            {
            <div class="d-block mx-auto col-md-6">
                <div class="d-block mx-auto card">
                    <div class="card-body">
                        <h5 class="card-title">@e.Name</h5>
                        <p class="card-text">@Html.ActionLink("Bind Character", "Create", "CharacterEncounter", new {
                            EncounterID = e.ID, SessionID=Model.ID }, new { Class = "a" })</p>
                        <p class="card-text">@Html.ActionLink("Edit", "Edit", "Encounter", new { id = e.ID }, new {
                            Class =
                            "a" })</p>
                        <p class="card-text">@e.Notes</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <h3>Characters</h3>
                <div class="card-columns">
                    @foreach (var encounter in e.CharacterEncounter)
                    {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@encounter.Character.Name</h5>
                            <p class="card-text">@encounter.Character.CurrentHP HP</p>
                            <p class="card-text">@Html.ActionLink("Edit", "EditCharacter", "Session", new { id =
                                encounter.Character.ID, SessionID = Model.ID }, new { Class = "a" })</p>
                            <p class="card-text">@Html.ActionLink("Unbind", "Delete", "CharacterEncounter", new {
                                SessionID = Model.ID, EncounterID = encounter.Encounter.ID, CharacterID =
                                encounter.Character.ID }, new { Class = "a" })</p>

                            @foreach (var w in encounter.Character.Weapon)
                            {
                            <p class="card-text">
                                @w.Name |
                                @w.Damage |
                                @w.Range |
                                @Html.ActionLink("Roll", "RollDice", "Session", new { SessionID = Model.ID, CharacterID
                                = w.Character.ID, WeaponID = w.ID }, new { Class = "btn btn-link" })
                            </p>
                            }
                            @foreach (var w in encounter.Character.Melee)
                            {
                            <p class="card-text">
                                @w.Name |
                                @w.Damage
                                @Html.ActionLink("Roll", "RollDice", "Session", new { SessionID = Model.ID, CharacterID
                                = w.Character.ID, WeaponID = w.ID }, new { Class = "btn btn-link" })
                            </p>
                            }
                        </div>

                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>