@model DM_helper.Models.Session

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <div class="container-fluid">
        <div class="d-flex flex-row flex-wrap">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    @Html.DisplayNameFor(model => model.Notes)
                </div>
                <div class="d-flex flex-row">
                    @Html.DisplayFor(model => model.Notes)
                </div>
                <div class="d-flex flex-row">
                    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
            <div class="d-flex flex-column flex-fill">
                <div class="container-fluid">
                    <div class="d-flex flex-row flex-fill">
                        <div class="d-flex flex-column flex-fill">
                            <a asp-action="Create" asp-controller="Encounter">Create Encounter</a>
                            @foreach (var e in Model.Encounters)
                            {
                                <div class="d-flex flex-row w-100">
                                    <div class="d-flex flex-column flex-fill">
                                        <u>Encounters</u> 
                                        <br />
                                        <div class="d-flex flex-row flex-fill">
                                            @Html.DisplayFor(modelItem => modelItem.Name) | 
                                        @Html.ActionLink("Bind Character", "Create", "CharacterEncounter", new { EncounterID = e.ID, SessionID=Model.ID }, new { Class = "a" }) |
                                        @Html.ActionLink("Edit", "Edit", "Encounter", new { id = e.ID }, new { Class = "a" })
                                        </div>
                                        
                                    </div>
                                    <div class="d-flex flex-column flex-fill">
                                        <div class="d-flex flex-row">
                                            <u>Notes</u>
                                        </div>
                                        <div class="d-flex flex-row">
                                            @e.Notes
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column flex-fill">
                                        <u>Characters</u>
                                        @foreach (var encounter in e.CharacterEncounter)
                                        {
                                            <div class="d-flex flex-row">
                                                <div class="d-flex flex-column">
                                                    @encounter.Character.Name
                                                    @Html.ActionLink("Unbind", "Delete", "CharacterEncounter", new { SessionID = Model.ID, EncounterID = encounter.Encounter.ID, CharacterID = encounter.Character.ID }, new { Class = "a" })
                                                </div>
                                                <div class="d-flex flex-column p-3">
                                                    @foreach (var w in encounter.Character.Weapon)
                                                    {
                                                        <div class="d-flex flex-row">
                                                            @w.Name |
                                                            @w.Damage |
                                                            @w.Range
                                                            @Html.ActionLink("Roll Damage", "RollDamage", "Encounter", new { damage = w.Damage, CharacterID = w.Character.ID, EncounterID = encounter.ID, Attribute = w.Attribute }, new { Class = "btn btn primary" })
                                                        </div>
                                                    }
                                                    @foreach (var w in encounter.Character.Melee)
                                                    {
                                                        <div class="d-flex flex-row">
                                                            @w.Name |
                                                            @w.Damage
                                                            @Html.ActionLink("Roll Damage", "RollDamage", "Encounter", new { damage = w.Damage, CharacterID = w.Character.ID, EncounterID = encounter.ID, Attribute = w.Attribute }, new { Class = "btn btn primary" })
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>