@model DM_helper.Models.CharacterEncounter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CharacterEncounter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Encounter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Encounter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Name)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "CharacterEncounter"))
    {
        <input id="CharacterEncounterID" name="CharacterEncounterID" value="@Model.ID" hidden />
        <input id="SessionID" name="SessionID" value="@ViewBag.SessionID" hidden />
        <input type="submit" class="btn btn-primary" value="Delete" />
    }


</div>