@model IEnumerable<DM_helper.Models.CharacterEncounter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EncounterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EncounterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encounter.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Character.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>